@media (min-width: 700px){
  body {
    background-image: url("../images/bg-pattern-top-desktop.svg"),
                      url("../images/bg-pattern-bottom-desktop.svg");
    background-size: 50% 80%;
  }
}

@media (min-width: 1440px){
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 1445px;
    margin: auto;
  }

  .intro {
    text-align: left;
  }

  .intro h1 {
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
  }

  .rating {
    grid-column-start: 2;
    margin: 1rem 0 3.5rem 0;
  }

  .rating > :nth-child(2) {
    margin-left: 80px;
  }

  .rating > :last-child {
    margin-left: 160px;
  }

  .rating-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 530px;
  }

  .rating-card p {
    color: var(--primary-magneta);
    font-weight: 700;
    opacity: 1;
    margin: 0.4rem 4rem 0 0;;
  }

  .testimonials {
    grid-column: span 2;
    flex-direction: row;
    justify-content: space-between;
  }

  .testimonials > :nth-child(2) {
    margin-top: 30px;
  }

  .testimonials > :last-child {
    margin-top: 60px;
  }

  .testimonial-card {
    max-width: var(--card-width-desktop);
  }
}
